* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}
/* body{
    zoom: 90%;
} */
a:hover {
    text-decoration: none;
    cursor: pointer;
}

#preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/preloader.gif) 50% 50% no-repeat rgb(0, 0, 0, 0.1);
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}

table.dataTable.no-footer {
    border-bottom: 1px solid #dee2e6
}

table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 10px 18px 6px 18px;
    border-top: 1px solid #dee2e6;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 0px solid #111;
}

div.dt-buttons, .dataTables_wrapper .dataTables_filter {
    margin-top: 15px;
}

.dataTables_wrapper .dataTables_length {
    float: none;
}
.dataTables_wrapper .dataTables_processing{
    z-index: 1200;
    background:none !important;
}

.blue-bgcolor {
    background: #b8d8d8;
}

.green-bgcolor {
    background: #d5e5a3;
}

.red-bgcolor {
    background: #f53e3e6b !important;
}

.brown-bgcolor {
    background: #d6c1ab;
}

#dashboard-cards .card-stats .card-body .numbers .col-me {
    font-size: 18px;
}

#dashboard-cards .card-stats .card-body .numbers .col-me+.card-title {
    display: inline-block;
    padding-left: 16px;
}

#dashboard-cards h3 {
    margin: 10px 0px;
}
#dashboard-cards .card{
    height: 100px;
}
#stock_page .tab-content .card{
    box-shadow: 0 10px 20px 0px rgb(0 0 0 / 15%);
}
tr.group, tr.group:hover {
    background-color: #ddd !important;
}

.sold_me_cust_class {
    display: inline;
    width: 28%;
    /* float: right; */
    margin: 2px;
}
.clabelstyle {
    border: 0;
    text-align: center;
    margin-bottom:10px;
    width: 28%;
}

.cash_entry_class {
    width: 15%;
    float: right;
    margin: 2px;
}

.rme_tag span {
    padding: 0px 16px;
    width: 40%;
}
.rme_tag{
    display: flex;
    justify-content: flex-start;
}
.tca_tag{
    display: flex;
    justify-content: flex-end;
}

/* .tca_tag span {
    padding: 0px 32px;
} */

/* #datatable, #rent_datatable, #weight_datatable, #food_amount_table, #category_amount_table, #total_food_table, #datatable1, #datatable2, #week_billing_datatable, #milk_sold_datatable, #footer_datatable1, #footer_datatable2, #footer_datatable3 {
    font-size: 10px;
} */

/* .table {
    font-size: 14px;
} */
.table th{
    font-weight: bold;
}
.sidebar,
.navbar-minimize,
.navbar-toggle{
    display: none;
}
.main-panel{
    width:100%;
}
.main-panel>.content{
    margin-top: 80px;
}
.card-header{
    background-color: rgba(0,0,0,.03) !important;
}
.card-footer {
    padding-top: 0.25rem!important;
}
/*Invoice*/

/* .invoice .table-row .table>thead {
    border-top: 1px solid #ddd;
} */

.invoice .table-row .table>thead>tr>th {
    border-bottom: none;
}

/* .invoice .table>tbody>tr>td {
    padding: 8px 20px;
} */

.invoice .invoice-total {
    font-size: 16px;
}

@media(max-width:575px) {
    .invoice, .invoice .invoice_date, .invoice .invoice-total {
        text-align: center !important;
    }
    .invoice .payment-details {
        float: none;
        width: 100%;
        text-align: center !important;
        margin-bottom: 25px;
    }
    .invoice p.lead, .invoice .from p.lead, .invoice .to p.lead, .invoice .payment-details p.lead {
        font-size: 22px;
    }
}

.modal-dialog {
    padding-top: 0px;
}

.modal-header {
    padding: 10px 20px;
}

#print_modal #invoice-print {
    margin: 0px;
}

#print_modal #get_billing_table .table td, #print_modal #get_billing_table .table th {
    padding: .5rem;
}

@media only print {
    #invoice-print, #mail-invoice, #weight_datatable .hide_on_print {
        display: none !important;
    }
    .invoice {
        width: 560px;
        height: 790px;
        margin: 40px auto;
        font-weight: bold;
    }
    .invoice_date, .invoice_image {
        margin: auto
    }
    .invoice_date .invoice_no {
        font-size: 1.2em !important;
        margin-bottom: 0px;
    }
    .from .marginbottom, .payment-details .marginbottom {
        margin-bottom: 5px;
    }
    .invoice .lead {
        font-size: 1rem;
    }
    .invoice .lead1 {
        font-size: 1.1rem;
    }
    .invoice .dairy_name {
        font-weight: bold;
        font-size: 1.6rem;
    }
    .invoice p {
        margin-bottom: 0.5rem;
    }
    .invoice .row {
        flex-wrap: initial;
    }
    .invoice .table-bordered td, .table-bordered th {
        border: 1px solid #989898;
    }
    @page {
        size: A5;
    }
}